<mat-card class="trip-recap-card">
    <!--Not the correct image but the one I found on the website ^^-->
    <img mat-card-image src="../../content/images/trip_background.jpg" alt="">
    <div class="trip-section">
        <div class="trip-section-item item-flight">
            <div class="trip-item-label" jhiTranslate="trip-recap.flight">Flight</div>
            <div class="trip-item-value">755</div>
        </div>
        <div class="trip-section-item item-date">
            <div class="trip-item-label" jhiTranslate="trip-recap.date">Date</div>
            <div class="trip-item-value">03/11/2020</div>
        </div>
        <div class="trip-section-item item-departs">
            <div class="trip-item-label" jhiTranslate="trip-recap.departs">Departs</div>
            <div class="trip-item-value">03:35</div>
        </div>
    </div>

    <mat-divider [inset]="true" ></mat-divider>

    <div class="trip-section">
        <div class="trip-section-item item-departure">
            <div class="trip-item-label" jhiTranslate="trip-recap.departure">Departure</div>
            <div class="trip-item-value">BLR</div>
        </div>
        <div class="trip-section-item item-flight-icon">
            <mat-icon aria-hidden="true">flight</mat-icon>
        </div>
        <div class="trip-section-item item-arrival">
            <div class="trip-item-label" jhiTranslate="trip-recap.arrival">Arrival</div>
            <div class="trip-item-value">FRA</div>
        </div>
    </div>
</mat-card>
