/* ==========================================================================
Main page styles
========================================================================== */

.your-next-trip {
  text-align: center;
  padding: 15px;

  .add-new-trip {
    font-size: 44px;
    margin-bottom: 20px;
  }

  h1 {
    color: #2c5079;
    text-align: center;
    font-weight: bold;
  }

  mat-divider {
    margin: 15px 0;
  }

  p {
    font-weight: 500;
    font-size: 20px;
  }
}
